
    <div class="container-fluid" style="margin-top:25px">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" fxLayout="row">
                       <div>
                          <h4 class="card-title ">Data Peminjaman</h4>
                        <p class="card-category"> Perpustakaan</p>
                       </div>
                       
                       <div fxLayoutAlign="end center" style="width:83%;">
                        <input type="text" [formControl]="keyword" mat-input placeholder="Pencarian judul, pengarang..." class="input-search">
                       </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="color:#3073dd">
                                    <th>
                                        No
                                    </th>
                                    <th>
                                        Kode Anggota
                                    </th>
                                    <th>
                                        Nama Lengkap
                                    </th>
                                    <th>
                                        Judul Buku
                                    </th>
                                    <th>
                                        Qty
                                    </th>
                                    <th>
                                        Tanggal Pinjam
                                    </th>
                                    <th>
                                        Status Pinjam
                                    </th>
                                </thead>
                                <tbody>
                                  
                                    <tr *ngFor="let trx of transactionList;let no = index" class="book-list" (click)="gotoDetail(trx?.kode_buku)">
                                        <td>
                                            {{no+1}}
                                        </td>
                                        <td>
                                            {{trx?.kode_anggota}}
                                        </td>
                                        <td>
                                            {{trx?.nama_lengkap}}
                                        </td>
                                        <td>
                                            {{trx?.judul}}
                                        </td>
                                        <td>
                                            {{trx?.jumlah_pinjam}}
                                        </td>
                                        <td>
                                            {{trx?.tanggal_pinjam}}
                                        </td>
                                        <td style="text-align:center">
                                            <mat-icon *ngIf="trx?.status_pinjam">done_all</mat-icon>
                                            <mat-icon *ngIf="!trx?.status_pinjam">schedule</mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <mat-paginator (page)="pageEvent = handlePage($event)" #paginator style="width: 100%;background: unset;margin-bottom:50px"
                            [length]="totalSize" [pageSizeOptions]="[5, 10, 50, 100]">
                           </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  