<div style="width:100%;margin-top:10vh;padding:10px;">
  <div fxLayout="row" style="height:400px;width:700px;box-shadow:0 3px 3px silver;margin:0 auto;border-radius: 8px">
    <a routerLink='/dashboard' style="color:silver">
        <mat-icon style="position:absolute;margin-top:15px;margin-left:15px">close</mat-icon>
    </a>
    <div fxLayoutAlign="start start" style="background:whitesmoke;width:40%;border-radius: 8px 0px 0 8px;">
      <img src="../../assets/img/maskot-new.png" style="height:50%;width:200px;margin:0 auto;position: relative;top: 10vh"
        alt="">
    </div>
    <div style="background:white;width:60%;padding: 20px;border-radius: 0 8px 8px 0;">
      <div style="text-align:center;height:75px;">
          <mat-icon style="line-height: 50px;">supervisor_account</mat-icon>
          <h4 class="lable-login-form">Login</h4>
      </div>
      <form [formGroup]="loginForm" class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="email" #email="matInput" formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="password" type="{{inputPassword}}" placeholder="Password">
          <mat-icon matSuffix (click)="showHidePass()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button mat-button (click)="processLogin()" style="width:100%;background-color:darkcyan;color:white">Masuk</button>
      </form>
      <!-- <div>
        <p>Tidak terdaftar ? <a routerLink="/register" style="color:red"> Buat Akun Mbaku</a></p>
      </div> -->
    </div>
   
  </div>
</div>